* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

header {
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.line {
    background-color: rgb(15, 15, 15);
    height: 80px;
    width: 24%;
}

.titulo {
    display: inline;
    width: 50%;
}

.contain {
    display: flex;
}