* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

header {
    height: 75px;
    padding-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.line {
    background-color: rgb(10, 10, 10);
    height: 100%;
    width: 100%;
}

.titulo {
    padding-left: 20px;
    padding-right: 20px;
    display: inline;
    height: 100%;
}

.titulo img {
    height: 100%;
}

@media screen and (max-width: 767px){
    header {
        height: 50px;
    }
}

@media screen and (max-width: 526px){
    header {
        height: 30px;
    }
}