header {
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(204, 204, 204);
}

.article {
    border-left: 2px solid rgb(204, 204, 204);
    border-right: 2px solid rgb(204, 204, 204);
    margin: auto;
    width: 70%;
    display: block;
    height: 1000px;
    background-color: whitesmoke;
    z-index: 1;
}

.article h2 {
    text-align: center;
    font-size: 3rem;
}

.section p {
    font-size: 1.5rem;
}

@media screen and (max-width: 526px){
    header {
        height: 30px;
    }

    .article {
        width: 95%;
    }
}